{% extends "public/templates/public_template.html" %}
{% block title %}Jinja{% endblock %}
{% block main %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Jinja</h1>
			<hr>
			<h4>Accessing an objects value</h4>
			<hr>
			<p>Hello {{ my_name }}!</p>
			<h4>Looping through an iterable</h4>
			<hr>
			<strong class="d-block mb-3">Programming languages</strong>
			<ul>
				{% for lang in langs %}
				<li>{{ lang }}</li>
				{% endfor %}
			</ul>
			<h4>Calling functions</h4>
			<hr>
			<p>{{ repeat("Jinja is great! ", 10) }}</p>
		</div>
	</div>
</div>
{% endblock %}