{% extends "public/templates/public_template_nonavbar.html" %}
{% import "public/templates/macros_template.html" as macros%}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}Dashboard{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/multimedia_dashboard.css') }}">





	<div id="section-top" class="row">
		<div class="col-sm-1">
			<div id="backhome" >
				<a role="button" class="btn btn-primary" href="/">Volver a inicio</a>
			</div>
		</div>
		<div class="col columna-sin-overflow bg-success">
			<div class="row row-de-semanas row-semanas-header">
				{% for i in range(12,54) %}
					{%if i < 10 %}
						<input class="semanitas" style="display:none;" type="week" name="semanaelegida" value="2020-W0{{i}}"step="1">
					{%else%}
						<input class="semanitas" style="display:none;" type="week" name="semanaelegida" value="2020-W{{i}}"step="1">
					{%endif%}
				{% endfor %}
				{% for i in range(1,53) %}
					{%if i < 10 %}
						<input class="semanitas" style="display:none;" type="week" name="semanaelegida" value="2021-W0{{i}}"step="1">
					{%else%}
						<input class="semanitas" style="display:none;" type="week" name="semanaelegida" value="2021-W{{i}}"step="1">
					{%endif%}
				{% endfor %}
			</div>
		</div>
		
	</div>
	<div class="row section-center">
		<div class="col parent-section-center columna-sin-overflow">
			<div id="section-center-diseno" class="row columna-sin-overflow">
				<div class="col-sm-1 bg-danger columna-sin-overflow">
					<div class="tagEquipo">
						Diseño⠀⠀⠀⠀
					</div>
				</div>
				<div class="col columna-sin-overflow">
					<div class="row row-de-semanas">
						{% for i in range(1,15) %}
						<div class="col semanas">
							{% for j in range(1,5) %}
								{% if randrange(10)>3 %}
								<div class="i_{{i}} j_{{j}}" id="i_{{i}}_j_{{j}}">
									<span>prog_sem_{{i}}_tarea_{{j}}</span>
								</div>
								{%else%}
								<div class="i_{{i}} j_{{j}} white-capsule" id="i_{{i}}_j_{{j}}">
									
								</div>
								{%endif%}

							{% endfor %}
						</div>
						{% endfor %}
					</div>
					<div class="row row-de-semanas">
						{% for i in range(1,15) %}
						<div class="col semanas">
							{% for j in range(1,5) %}
								{% if randrange(10)>3 %}
								<div class="i_{{i}} j_{{j}}" id="i_{{i}}_j_{{j}}">
									<span>prog_sem_{{i}}_tarea_{{j}}</span>
								</div>
								{%else%}
								<div class="i_{{i}} j_{{j}} white-capsule" id="i_{{i}}_j_{{j}}">
									
								</div>
								{%endif%}

							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row" id="separator-prog-diseno"></div>
			<div id="section-center-programacion" class="row columna-sin-overflow">
				<div class="col-sm-1 bg-info columna-sin-overflow">
					<div class="tagEquipo">
						Programación
					</div>
				</div>
				<div class="col columna-sin-overflow">
					<div class="row row-de-semanas">
						{% for i in range(1,15) %}
						<div class="col semanas">
							{% for j in range(1,5) %}
								{% if randrange(10)>3 %}
								<div data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="i_{{i}} j_{{j}}" id="i_{{i}}_j_{{j}}">
									<span>prog_sem_{{i}}_tarea_{{j}} askdjlaskjdkasjdklsjldjasldjasdjaskld</span>
								</div>
								{%else%}
								<div class="i_{{i}} j_{{j}} white-capsule" id="i_{{i}}_j_{{j}}">
									
								</div>
								{%endif%}

							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="section-bottom"  class="row">
		<div class="col bg-warning">
			Otra cosa
		</div>
	</div>



<!-- Ventana para agregar tareas -->
<div id="addtask" class="card">
	<div id="headerDraggable">Mover</div>
	<div class="card-body">
		<div>
			<form action="/dashboard" id="select-params" method="POST" enctype="multipart/form-data">

			{% for field in form_addtask %}
				{% if field.type == 'FileField'%}
					<p>{{field.description}}</p>
					<div class="custom-file" style="display:block">
						{{ macros.render_field(field) }}
					</div>
				{% else %}
					{{ macros.render_field(field) }}
				{% endif %}
			{% endfor %}

			<input type="submit" name="form-button" id="form-button-addtask" class="btn btn-primary" value="Añadir"/>
			</form>
		</div>
	</div>
</div>
<!-- Ventana para agregar tareas -->

<script src="{{ url_for('static', filename='js/date-es-CL.js') }}"></script>
<script src="{{ url_for('static', filename='js/multimedia_dashboard.js') }}"></script>

{% endblock %}