{% import "bootstrap/wtf.html" as wtf%}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link type='text/css' rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- Import the Bootstrap stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!--<script src="{{ url_for('static', filename='js/jquery-3.0.0.slim.min.js') }}"></script>-->
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
		<a class="navbar-brand" href="#">CMMEdu <br/>Programación</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Inicio</a>
				</li>
				<!--
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" href="/uploads">Subida de Archivos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">Dashboard</a>
				</li>
				<!--
				<li class="nav-item">
					<a class="nav-link" href="/jinja">Jinja</a>
				</li>
				-->
			</ul>
		</div>
		<!--
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/sign-up">Sign up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/dashboard">Admin</a>
				</li>
			</ul>
		</div>
	-->
	</nav>

	<main>
		{% block main %}{% endblock %}
	</main>

	<footer class="mt-auto">
		<p>Author: Thomas Peet</p>
		<p><a href="mailto:tomaspemora@gmail.com">tomaspemora@gmail.com</a></p>
	</footer>
	</body>

</html>